<!DOCTYPE HTML>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Práctica 8 - DSI</title>
</head>
<body>
Visita los siguientes enlacs para ver el contenido, loguearte, cerrar sesión ó registarte.

<ul>
	<li> <a href = "/content">Contenidos</a></li>
	<li> <a href = "/login">Login</a></li>
	<li> <a href = "/logout">Logout</a></li>
	<li> <a href = "/register">Registro</a></li>
</ul>

</body>
</html>
