<html>
<body>

<h2> Para poder acceder al contenido debe loguearse รณ registrarse antes </h2>

	<ul>
		<li>
			<a href="/login"> Login </a>
		</li>
		<li>
			<a href="/register"> Registro </a>
		</li>
		<li>
			<a href="/"> Inicio </a>
		</li>
	</ul>
</html>
</body>
